Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30
Werkzeug==3.0.3
sqlite3==3.45.2  # Note: This is part of Python's standard library, no need to install separately
python-dateutil==2.9.0.post0
Jinja2==3.1.4
MarkupSafe==2.1.5